{{>adminHeader}}
	<!-- end copyright -->
<div class="table-responsive text-center p-5 ">
  <table id="example" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#userdatas}}
      <tr>
        <td>{{name}}</td>
        <td>{{email}}</td>
        {{#if status}}
        <td>Active</td>
        <td><a href="/admin/admin-block/{{_id}}" class="btn btn-primary">block</a></td>
        {{else}}
        <td>InActive</td>
        <td><a href="/admin/admin-Unblock/{{_id}}" class="btn btn-primary">Unblock</a></td>
        {{/if}}
      </tr>
      {{/userdatas}}
    </tbody>
  </table>
</div>
>

	<!-- jquery -->
	<script src="/assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="/assets/js/main.js"></script>
	 <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>


</body>
</html> 