{{>adminHeader}}
            <div class="container p-5">
                <div class="row justify-content-center">
                    <div class="col-sm-8 col-md-6">
                        <form onsubmit="return banner()" oninput="displaybanner()" action="/admin/admin/addbanner"
                            method="post" enctype="multipart/form-data" id="bannerform" name="bannerform">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Title</label>
                                <input type="text" name="title" class="form-control" id="title"
                                    aria-describedby="emailHelp" />
                            </div>
                            <p class="text-danger text-center w-100"></p>

                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Sub Title</label>
                                <input type="text" name="subtitle" class="form-control" id="subtitle"
                                    aria-describedby="emailHelp" />
                            </div>
                            <p class="text-danger text-center w-100"></p>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Image</label>
                                <input type="file" name="bannerimage" class="form-control" id="exampleInputPassword1"
                                    required />
                            </div>
                            <div class="margin-left-1 mb-3 form-check">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatable" class="table data-table table-striped table-bordered">
                        <thead>
                            <tr>



                                <th>Images</th>
                                <th>Title</th>
                                <th>Sub Title</th>
                                <th>Status</th>
                                <th>Action</th>


                            </tr>
                        </thead>
                        <tbody>
                            {{#each bannerdisplay}}
                            <tr>

                                <td><img style="height: 100px;width: 100px;" src="/BannerImage/{{BannerImage.[0]}}"
                                        alt=""></td>
                                <td>{{title}}</td>
                                <td>{{subtitle}}</td>
                                {{#if status}}
                                <td>Active</td>
                                <td><a href="/admin/disableBanner/{{_id}}" style="width: 6rem;"
                                        class="btn btn-primary">Disable</a></td>
                                {{else}}
                                <td>InActive</td>
                                <td><a href="/admin/visibleBanner/{{_id}}" style="width: 6rem;"
                                        class="btn btn-primary">Visible</a></td>
                                {{/if}}



                            </tr>
                            {{/each}}
                    </table>
                </div>
            </div>









            <script src="/assets/js/jquery-1.11.3.min.js"></script>
            <!-- bootstrap -->
            <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
            <!-- count down -->
            <script src="/assets/js/jquery.countdown.js"></script>
            <!-- isotope -->
            <script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
            <!-- waypoints -->
            <script src="/assets/js/waypoints.js"></script>
            <!-- owl carousel -->
            <script src="/assets/js/owl.carousel.min.js"></script>
            <!-- magnific popup -->
            <script src="/assets/js/jquery.magnific-popup.min.js"></script>
            <!-- mean menu -->
            <script src="/assets/js/jquery.meanmenu.min.js"></script>
            <!-- sticker js -->
            <script src="/assets/js/sticker.js"></script>
            <!-- main js -->
            <script src="/assets/js/main.js"></script>
            <script type="text/javascript" charset="utf8"
                src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
            <script>
                $(document).ready(function () {
                    $('#datatable').DataTable();
                });

            </script>

            <script>

                function banner() {
                    var title = document.bannerform.title.value;
                    var subtitle = document.bannerform.subtitle.value;

                    let bannerfeilds = document.getElementsByClassName("text-danger text-center w-100")
                    if (title == "" && subtitle == "") {
                        let i = 0
                        while (i < bannerfeilds.length) {
                            bannerfeilds[i].innerHTML = "This Feild Is Required"
                            i++
                        }
                        return false
                    }
                    if (title == "") {
                        bannerfeilds[0].innerHTML = "Product Title Is Required"
                        return false;
                    }
                    if (title.length < 5) {
                        bannerfeilds[0].innerHTML = "Enterd Title Invalid Formate"
                        return false;
                    }
                    if (subtitle == "") {
                        bannerfeilds[1].innerHTML = "Sub Title Is Required"
                        return false;
                    }
                    if (subtitle.length < 5) {
                        bannerfeilds[1].innerHTML = "Subtitle Atleast 5 character"
                        return false;
                    }
                    return true
                }

                function displaybanner() {
                    const bannerfeilds = document.getElementsByClassName("text-danger text-center")
                    let i = 0
                    while (i < bannerfeilds.length) {
                        bannerfeilds[i].innerHTML = ""
                        i++
                    }
                }


            </script>



</body>

</html>