{{>adminHeader}}

    <div class="card-body">
        <div class="table-responsive p-3">
            <table id="example" class="table data-table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Ordered User</th>
                        <th>Delivery Address</th>
                        <th>Orderd Date</th>
                        <th>Payment Method</th>
                        <th>Total Price</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                 {{#each orderdetails}}
                <tbody>
                    <tr>
                        <td>{{userId}}</td>
                        <td>{{deliverydetails.fullname}}{{deliverydetails.lastname}},{{deliverydetails.address}},{{deliverydetails.phone}}</td>
                        <td>{{orderdate}}</td>
                        <td>{{payment}}</td>
                        <td>{{TotalAmount}}</td>
                        <td>{{status}}</td>
                        <td><a href="/admin/OrderedProdcuts/{{_id}}" class="btn btn-primary" style="height: 35px; width: 100px;" >Details</a></td>
                    </tr> 
                </tbody>
               {{/each}}
            </table>
        </div>
    </div>

            <script src="/assets/js/jquery-1.11.3.min.js"></script>
            <!-- bootstrap -->
            <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
            <!-- count down -->
            <script src="/assets/js/jquery.countdown.js"></script>
            <!-- isotope -->
            <script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
            <!-- waypoints -->
            <script src="/assets/js/waypoints.js"></script>
            <!-- owl carousel -->
            <script src="/assets/js/owl.carousel.min.js"></script>
            <!-- magnific popup -->
            <script src="/assets/js/jquery.magnific-popup.min.js"></script>
            <!-- mean menu -->
            <script src="/assets/js/jquery.meanmenu.min.js"></script>
            <!-- sticker js -->
            <script src="/assets/js/sticker.js"></script>
            <!-- main js -->
            <script src="/assets/js/main.js"></script>

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
  
</body>

</html>