<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">



    <!-- title -->
    <title>Fruitkha</title>
    <script src="https://kit.fontawesome.com/b644f94f20.js" crossorigin="anonymous"></script>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">



    <!-- fontawesome -->
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="/assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    
    </script>
</head>

<body>

    <!--PreLoader-->
    {{!-- <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div> --}}
    <!--PreLoader Ends-->


    <!-- header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand text-white" href="#">Fruitkha</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/admin-home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/admin-product">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/admin-usermanagement">Users</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/admin/order">Order</a>
                    {{!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a> --}}
                    {{!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div> --}}
                </li>
                <li class="nav-item">
                    {{!-- <a class="nav-link disabled text-white" href="#">Disabled</a> --}}
                    <a class="nav-link" href="/admin/admin-category">Category</a>
                    </l>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/admin/banner">Banner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/admin-logout">Logout</a>
                </li>

            </ul>
            {{!-- <form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
			</form> --}}
		</div>


            {{!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form> --}}
        </div>
    </nav>

    <div class="card-body">
        <div class="table-responsive p-3">
            <table id="example" class="table data-table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Ordered User</th>
                        <th>Delivery Address</th>
                        <th>Orderd Date</th>
                        <th>Payment Method</th>
                        <th>Total Price</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                 {{#each orderdetails}}
                <tbody>
                    <tr>
                        <td>{{userId}}</td>
                        <td>{{deliverydetails.fullname}}{{deliverydetails.lastname}},{{deliverydetails.address}},{{deliverydetails.phone}}</td>
                        <td>{{orderdate}}</td>
                        <td>{{payment}}</td>
                        <td>{{TotalAmount}}</td>
                        <td>{{status}}</td>
                        <td><a href="/admin/OrderedProdcuts/{{_id}}" class="btn btn-primary" style="height: 35px; width: 100px;" >Details</a></td>
                    </tr> 
                </tbody>
               {{/each}}
            </table>
        </div>
    </div>
     {{!-- <div style="position: relative;left: 40%; display: flex;column-gap: 5%;">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div> --}}
            <script src="/assets/js/jquery-1.11.3.min.js"></script>
            <!-- bootstrap -->
            <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
            <!-- count down -->
            <script src="/assets/js/jquery.countdown.js"></script>
            <!-- isotope -->
            <script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
            <!-- waypoints -->
            <script src="/assets/js/waypoints.js"></script>
            <!-- owl carousel -->
            <script src="/assets/js/owl.carousel.min.js"></script>
            <!-- magnific popup -->
            <script src="/assets/js/jquery.magnific-popup.min.js"></script>
            <!-- mean menu -->
            <script src="/assets/js/jquery.meanmenu.min.js"></script>
            <!-- sticker js -->
            <script src="/assets/js/sticker.js"></script>
            <!-- main js -->
            <script src="/assets/js/main.js"></script>

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
  
</body>

</html>