<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Fruitkha</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets/css/responsive.css">

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	

</head>

<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<img src="assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="/">Home</a>
									{{!-- <ul class="sub-menu">
										<li><a href="index.html">Static Home</a></li>
										<li><a href="index_2.html">Slider Home</a></li>
									</ul> --}}
								</li>
								<li><a href="about.html">About</a></li>
								<li><a href="#">Pages</a>
									{{!-- <ul class="sub-menu">
										<li><a href="404.html">404 page</a></li>
										<li><a href="about.html">About</a></li>
										<li><a href="/cart">Cart</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<li><a href="contact.html">Contact</a></li>
										<li><a href="news.html">News</a></li>
										<li><a href="shop.html">Shop</a></li>
									</ul> --}}
								</li>
								<li><a href="news.html">News</a>
									{{!-- <ul class="sub-menu">
										<li><a href="news.html">News</a></li>
										<li><a href="single-news.html">Single News</a></li>
									</ul> --}}
								</li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="shop.html">Shop</a>
									{{!-- <ul class="sub-menu">
										<li><a href="shop.html">Shop</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<li><a href="single-product.html">Single Product</a></li>
										<li><a href="cart.html">Cart</a></li>
									</ul> --}}
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="/cart"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i
												class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- search area -->
	{{!-- <div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> --}}
	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Check Out Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
							<div class="card single-accordion">
								<div class="card-header" id="headingOne">
									<h5 class="mb-0">
										<button class="btn btn-link" type="button" data-toggle="collapse"
											data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Billing Address
										</button>
									</h5>
								</div>

								<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
									data-parent="#accordionExample">
									<div class="card-body">
										<div class="billing-address-form">
											<form onsubmit="return checkOutverify()" oninput="displayadddress()" action="" method="" id="checkout" name="checkout">
												<p><input type="text" id="fullname" name="fullname"
														placeholder="Fullname" value="{{displayAddress.fullname}}"></p>
														<p class="text-danger text-center w-100"></p>
												<p><input type="text" id="lastname" name="lastname"
														placeholder="Lastname" value="{{displayAddress.lastname}}"></p>
														<p class="text-danger text-center w-100"></p>
												<p><input type="email" id="email" name="email" placeholder="Email"
														value="{{displayAddress.email}}"></p>
														<p class="text-danger text-center w-100"></p>
												<p><input type="text" id="address" name="address" placeholder="Address"
														value="{{displayAddress.address}}"></p>
														<p class="text-danger text-center w-100"></p>
												<p><input type="tel" id="phone" name="phone" placeholder="Phone"
														value="{{displayAddress.phone}}"></p>
														<p class="text-danger text-center w-100"></p>
												<p><input type="number" id="pincode" name="pincode"
														placeholder="Pin Code" value="{{displayAddress.pincode}}"></p>
														<p class="text-danger text-center w-100"></p>
												<p><input type="text" id="state" name="state" placeholder="State"
														value="{{displayAddress.state}}"></p>
														<p class="text-danger text-center w-100"></p>
												<p><input type="text" id="city" name="city" placeholder="City"
														value="{{displayAddress.city}}"></p>
														<p class="text-danger text-center w-100"></p>
												<p><input type="text" id="town" name="town" placeholder="Town"
														value="{{displayAddress.town}}"></p>
														<p class="text-danger text-center w-100"></p>
												<p><input type="text" name="userId" value="{{user._id}}" hidden></p>
												<input type="radio" name="payment" value="COD"><label
													class="ms-2 me-5">COD</label>
												<input type="radio" name="payment" value="online payment">
												<labe class="ms-2 me-5">Online Payment</label>
												<p class="text-danger text-center w-100"></p>
                                                 {{#if walletPass}}
												 <input type="radio" name="payment" value="Wallet">
												<labe class="ms-2 me-5">Wallet</label>
                                                {{/if}}
										</div>
										<a href="/showAddress" style="position: relative;left: 22px;" >Show Address</a>
									</div>
								</div>
							</div>
							<div class="card single-accordion">
								<div class="card-header" id="headingTwo">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
											data-target="#collapseTwo" aria-expanded="false"
											aria-controls="collapseTwo">
											Shipping Address
										</button>
									</h5>
								</div>
								<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
									data-parent="#accordionExample">
									<div class="card-body">
										<div class="shipping-address-form">
											<p>Your shipping address form is here.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="card single-accordion">
								<div class="card-header" id="headingThree">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
											data-target="#collapseThree" aria-expanded="false"
											aria-controls="collapseThree">
											Card Details
										</button>
									</h5>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
									data-parent="#accordionExample">
									<div class="card-body">
										<div class="card-details">
											<p>Your card details goes here.</p>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-lg-4">
					<div class="order-details-wrap">
						{{#if walletPass}}
						<table class="order-details">
							<thead>
								<tr>
									<th>Wallet Details</th>
									<th>Amount</th>
								</tr>
							</thead>
							<tbody class="order-details-body">
								</tbody>
							<tbody class="checkout-details">
								<tr>
									<td>Amount</td>
									<td>{{walletPass}}</td>
								</tr>
							</tbody>
						</table>

						{{/if}}
						<table class="order-details">
							<thead>
								<tr>
									<th>Your order Details</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody class="order-details-body">
								<tr>
									<td>Product</td>
									<td>Total</td>
								</tr>
								{{!-- <tr>
									<td>Strawberry</td>
									<td>.00</td>
								</tr> --}}
								{{!-- <tr>
									<td>Berry</td>
									<td>₹70.00</td>
								</tr>
								<tr>
									<td>Lemon</td>
									<td>₹35.00</td>
								</tr> --}}
							</tbody>
							<tbody class="checkout-details">
								{{!-- <tr>
									<td>Subtotal</td>
									<td>₹190</td>
								</tr> --}}
								<tr>
									<td>Shipping</td>
									<td>Free</td>
								</tr>
								<tr>
									<td>Total</td>
									<td>₹{{totalpass}}</td>
								</tr>
							</tbody>
						</table>
						<input type="submit" value="Place order" class="boxed-btn">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end check out section -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium
							doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Mohd Nihal</a>, All Rights
						Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->

   
	<script>
		
		function razorpayPayment(order) {
			var options = {
				"key": "rzp_test_nA1sZaKpms8CXS", // Enter the Key ID generated from the Dashboard
				"amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
				"currency": "INR",
				"name": "Fruitkha", //your business name
				"description": "Test Transaction",
				"image": "https://example.com/your_logo",
				"order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
				"handler": function (response) {
					verifyPayment(response, order)
				},
				"prefill": {
					"name": "Gaurav Kumar", //your customer's name
					"email": "gaurav.kumar@example.com",
					"contact": "9000090000"
				},
				"notes": {
					"address": "Razorpay Corporate Office"
				},
				"theme": {
					"color": "#3399cc"
				}

			};
			var rzp1 = new Razorpay(options);
			rzp1.open();
		}

		function verifyPayment(payment,order) {
			$.ajax({
				url: "/verify-payment",
				data: {
					payment,
					order
				},
				method:"post",
				success:(response)=>{
					if(response.status){
						location.href='/orderSuccess'
					}else{
						alert('Payment Failed')
					}
				}
			})
		}
	</script>

	<!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>
	<script>
		 function checkOutverify() {
            var fullname = document.checkout.fullname.value;
            var lastname = document.checkout.lastname.value;
            var email = document.checkout.email.value;
            var address = document.checkout.address.value;
            var phone = document.checkout.phone.value;
            var pincode = document.checkout.pincode.value;
            var state = document.checkout.state.value;
			var city = document.checkout.city.value;
			var town = document.checkout.town.value;
			var paymentmethod=document.checkout.payment.value;
			 const emailregx = /^(\w){3,16}@([A-Za-z]){5,8}.([A-Za-z]){2,3}$/gm
            let addressfeilds = document.getElementsByClassName("text-danger text-center w-100")
            if (fullname == "" && lastname == "" && email == "" && address == "" && phone == "" && pincode == "" && state == ""&& city == ""&& town == "") {
                let i = 0
                while (i < addressfeilds.length) {
                    addressfeilds[i].innerHTML = "This Feild Is Required"
                    i++
                }
                return false
            }
            if (fullname == "") {
                addressfeilds[0].innerHTML = "Fullname Is Required"
                return false;
            }else if (fullname.length < 5) {
                addressfeilds[0].innerHTML = "Fullname Atleast 5 charectors"
                return false;
            }else if (fullname.length < 5) {
                addressfeilds[0].innerHTML = "Fullname Atleast 5 charectors"
                return false;
            }else if (lastname == "") {
                addressfeilds[1].innerHTML = "Lastname Is Required"
                return false;
            }else  if (lastname.length < 5) {
                addressfeilds[1].innerHTML = "Lastname Atleast 5 charectors"
                return false;
            }else   if (email == "") {
                addressfeilds[2].innerHTML = "Email Is Required"
                return false;
            }else if (email.length < 5) {
                addressfeilds[2].innerHTML = "Email Atleast 5 charectors"
                return false;	
            }else if (emailregx.test(email)==false) {
                addressfeilds[2].innerHTML = "Email Is Invalied Format"
                return false;
            }else if (address == "") {
                addressfeilds[3].innerHTML = "Address Is Required"
                return false;
            }else if (address.length < 5){
                addressfeilds[3].innerHTML = "Address Atleat 5 charectors"
                return false;
            }else if (phone == "") {
                addressfeilds[4].innerHTML = "Phone Is Required"
                return false;
            }else if (phone.length < 10){
                addressfeilds[4].innerHTML = "Phone Number is Must 10 charectors"
                return false;
            }else if (pincode == "") {
                addressfeilds[5].innerHTML = "Pincode is Required"
                return false;
            }else if (pincode.length <6){
                addressfeilds[5].innerHTML = "Pincode Atleast 6 charector"
                return false;
            }else if (state == "") {
                addressfeilds[6].innerHTML = "State Is Required"
                return false;
            }else if (state.length <3){
                addressfeilds[6].innerHTML = "State Atleast 3 Charector"
                return false;
            }else if (city == "") {
                addressfeilds[7].innerHTML = "City is Required"
                return false;
            }else if (city.length <3){
                addressfeilds[7].innerHTML = "City is Atleast 3 charector"
                return false;
            }else if (town == "") {
                addressfeilds[8].innerHTML = "Town Is Required"
                return false;
            }else if (town.length <3){
                addressfeilds[8].innerHTML = "Town Atleast 3 Charector"
                return false;
            }else if (paymentmethod == "") {
                addressfeilds[9].innerHTML = "Please Select a Payment Method"
                return false;
            }else{
				$("#checkout").submit((e) => {
			e.preventDefault()
			$.ajax({
				url: '/place-order',
				method: 'post',
				data: $('#checkout').serialize(),
				success: (response) => {
					if (response.codSuccess) {
						location.href = "/orderSuccess"
					}else{
						razorpayPayment(response)
					}
				}
			})
		})
		return false;
			}
			return false;
        }

        function displayadddress() {
            const addressfeilds = document.getElementsByClassName("text-danger")
            let i = 0
            while (i < addressfeilds.length){
                addressfeilds[i].innerHTML = ""
                i++
            }
        }
	</script>

</body>

</html>