{{>adminHeader}}

<div class="card-body">
  <div class="table-responsive p-3">
    <table id="example" class="table data-table table-striped table-bordered">
      <thead>
        <tr>



          <th>Image</th>
          <th>Product Name</th>
          <th>Category</th>
          <th>brand</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>
            {{#if orderid}}
           
            <div class="dropdown">
              <a class="btn btn-primary btn-sm dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                change status
              </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <form action="/admin/shipping/{{orderid}}" method="post">
                  <input type="text" name="value" value="shipped" hidden>
                  <button type="submit" class="dropdown-item">shipping</button>
                </form>
                <form action="/admin/deliverd/{{orderid}}" method="post">
                  <input type="text" name="value" value="Deliverd" hidden>
                  <button type="submit" class="dropdown-item">delivered</button>
                </form>
                <form action="/admin/cancelled/{{orderid}}" method="post">
                  <input type="text" name="value" value="Cancelled" hidden>
                  <button type="submit" class="dropdown-item">Cancel</button>
                </form>
                 <form action="/admin/returnconfirm/{{orderid}}" method="post">
                  <input type="text" name="value" value="Returned" hidden>
                  <button type="submit" class="dropdown-item">Return Confirmed</button>
                </form>
              </div>
              

            </div>

            {{else}}
            status
            {{/if}}
          </th>


        </tr>
      </thead>
      {{#each ordetprodata}}
      <tbody>

        <tr>

          <td><img src="/product-images/{{Details.image.[0]}}" alt="" width="100px"></td>
          <td>{{Details.productname}}</td>
          <td>{{Details.catogory}}</td>
          <td>{{Details.brand}}</td>
          <td>{{Details.price}}</td>
          <td>{{quantity}}</td>
          <td>{{../orderstatus.status}}</td>

          <!-- Example split danger button -->




        </tr>

      </tbody>
      {{/each}}
    </table>
  </div>
</div>


</body>

</html>