{{>adminHeader}}
<div class="row">
	<div class="p-5">
{{!-- <a href="/admin/salesreport/?name=year" class="btn btn-primary btn-lg btn-block">Yearly Sales Report</a> --}}
<a href="/admin/salesreport/?name=mounth" class="btn btn-secondary btn-lg btn-block">Monthly Sales Report</a>
<a href="/admin/salesreport/?name=day" class="btn btn-primary btn-lg btn-block">Daily Sales Report</a>
</div>
</div>
<button type="button" class="btn btn-link" style="margin-left: 25px;" onclick="printTable()" >Download Pdf</button>
<button type="button" class="btn btn-link" style="margin-left: 25px;" onclick="ExportToExcel()" >Download Exel</button>





<div class="card-body">
  <div class="table-responsive p-3">
    <table id="example"  class="table data-table table-striped table-bordered">
      <thead>
        <tr>



          <th>Date</th>
		   <th>Delivery Date</th>
          <th>Orderd User</th>
          <th>ProductID</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total Price</th>
          
        </tr>
      </thead>
      {{#each allsalesreport}}
      <tbody>

        <tr>

          <td>{{orderdate}}</td>
          <td>{{deliveryDate}}</td>
          <td>{{userID}}</td>
          <td>{{productid}}</td>
          <td>{{Quantity}}</td>
          <td>{{products.price}}</td>
		  <td>{{TotalAmount}}</td>
          

          <!-- Example split danger button -->




        </tr>

      </tbody>
      {{/each}}
    </table>
  </div>
</div>

<script>
                function printTable() {
			var table = document.getElementById("example");
			var newWin = window.open('', 'Print-Window');
			newWin.document.open();
			newWin.document.write('<html><body onload="window.print()">' + table.outerHTML + '</html>');
			newWin.document.close();
			setTimeout(function () { newWin.close(); }, 10);
		}
            </script>

<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

<script>
function ExportToExcel(type, fn, dl) {
    var elt = document.getElementById("example");
    var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
    return dl ?
        XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
        XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
}
</script>
