{{>adminHeader}}
<div class="row">
	<div class="p-5">
{{!-- <a href="/admin/salesreport/?name=year" class="btn btn-primary btn-lg btn-block">Yearly Sales Report</a> --}}
<a href="/admin/salesreport/?name=mounth" class="btn btn-secondary btn-lg btn-block">Monthly Sales Report</a>
<a href="/admin/salesreport/?name=day" class="btn btn-primary btn-lg btn-block">Daily Sales Report</a>
</div>
</div>
<div class="card-body">
  <div class="table-responsive p-3">
    <table id="example" class="table data-table table-striped table-bordered">
      <thead>
        <tr>



          <th>Date</th>
		   <th>Delivery Date</th>
          <th>Orderd User</th>
          <th>ProductID</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total Price</th>
          
        </tr>
      </thead>
      {{#each allsalesreport}}
      <tbody>

        <tr>

          <td>{{orderdate}}</td>
          <td>{{deliveryDate}}</td>
          <td>{{userID}}</td>
          <td>{{productid}}</td>
          <td>{{Quantity}}</td>
          <td>{{products.price}}</td>
		  <td>{{TotalAmount}}</td>
          

          <!-- Example split danger button -->




        </tr>

      </tbody>
      {{/each}}
    </table>
  </div>
</div>
