{{>userHeader}}
	<!-- end header -->

	<!-- search area -->
	{{!-- <div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> --}}
	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-100 mb-70">
		<div class="container">

			<div class="row">
				<div class="col-md-12">
					<div class="product-filters">
						<ul>
							<a href="/shopAllProducts">
								<li class="active" data-filter="">All</li>
							</a>
							{{#each category}}
							<li id="{{category}}" onclick="filterCategory(this.id)" data-filter=".strawberry">
								{{category}}</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		<div class="sort-container p-3 ">
  <button class="sort-button">
    Sort by <i class="fa fa-caret-down"></i>
  </button>
  <div class="sort-dropdown">
    <a href="/lowToHigh">Price: Low to High</a>
    <a href="/HighToLow">Price: High to Low</a>
   
  </div>
</div>


			<div class="row ">
				{{#each productlist}}
				{{#if status}}
				<div class="col-lg-4 col-md-6 text-center strawberry">

					<div class="single-product-item">
						<div class="product-image">
							<a href="/singleproduct/{{_id}}"><img src="/product-images/{{image.[0]}}" alt=""></a>
						</div>
						<h3>{{productname}}</h3>
						<p class="product-price"> ₹ {{price}}<span>Per Kg </span></p>
						{{#if stoke }}
						<a href="/addToCart/{{_id}}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to
							Cart</a>
						{{else}}
						<p style="text-align: center;color: red; ">Out Of Stoke</p>
						{{/if}}
					</div>

				</div>
				{{/if}}
				{{/each}}
				
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<ul>
							<li><a href="#">Prev</a></li>
							<li><a class="active" href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end products -->

	{{>userFooter}}
	<style>
		.hidden-form {
			display: none;
		}
	</style>


	<script>
		function toggleSearchBar() {
			var searchForm = document.getElementById("search-form");
			if (searchForm.style.display === "none") {
				searchForm.style.display = "block";
			} else {
				searchForm.style.display = "none";
			}
		}

	</script>


	<style>
		.sort-container {
  position: relative;
  left: 10px;
  display: inline-block;
}

.sort-button {
  background-color: #f8f8f8;
  color: #555;
  padding: 8px 16px;
  border: 2px solid black;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.sort-button:hover {
  background-color: #ddd;
}

.sort-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f8f8f8;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 4px;
  padding: 8px 0;
  min-width: 160px;
}

.sort-container:hover .sort-dropdown {
  display: block;
}

.sort-dropdown a {
  color: #555;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.sort-dropdown a:hover {
  background-color: #ddd;
}
.sort-button:hover {
  background-color: #f28123;
  padding: 10px;
}
	</style>





	<script>

		function filterCategory(category) {
			$.ajax({
				url: '/selectCategory',
				method: 'POST',
				data: {
					category: category
				},
				success: (response) => {
					location.reload()
				}
			})
		}


		
	</script>
	<script>
		function sendData(e) {
			const searchResults = document.getElementById('searchResult')
			let match = e[0].value.match(/^[a-zA-Z ]*/);
			let match2 = e[0].value.match(/\s*/);
			if (match2[0] === e[0].value) {
				searchResults.innerHTML = '';
				return;
			}
			if (match[0] === e[0].value) {
				fetch('getFruits', {
					method: 'POST',
					headers: { 'Content-Type': 'application/json' },
					body: JSON.stringify({ Payload: e[0].value }),
					data: {
						Payload: e[0].value
					}
				}).then(res => res.json()).then(data => {
					let Payload = data.Payload;
					searchResults.innerHTML = '';
					if (Payload.length < 1) {
						searchResults.innerHTML = '<p>Sorry Notthing Found </p>';
						return;
					}
					Payload.forEach((item, index) => {
						if (index > 0) searchResults.innerHtml += '<hr>';
						searchResults.innerHTML += `<div  onclick="window.location.href='/singleproduct/${item._id}'"style="display: flex;justify-content: center;"><img src='/product-images/${item.image[0]}' width='100rem'></div><div class="imgsrc"><p>${item.productname}</p> </div><div class="imgsrc"><p>₹${item.price}</p></div><div class="imgsrc"><p>${item.brand}</p></div>`
					});
				});
				return;
			}
			searchResults.innerHTML = '';
		}
	</script>



</body>

</html>